.site-footer {
	background: $blue;
	color:#fff;
	text-align:center;
	padding: .5rem;
	margin-top: 1rem;
	
	&__text {
		font-weight:200;
		display:block;
		margin-bottom: 1rem;
		@mixin atMedium {
			display:inline;
			margin-right: 2rem;
		}
	}
}

